{% extends 'base.html' %}

{% block content %}
<h1>Recent Questions</h1>
<div>
    {% for question in questions %}
        <div>
            <a href="{{ url_for('question', question_id=question.qid) }}">
                <h2>{{ question.title }}</h2>
            </a>
            <div class="d-flex flex-row">
                <p class="text-muted">
                    {{ question.dt_created }}
                </p>
                <p class="text-muted pl-2">Author:</p>
                <a href="{{ url_for('profile', username=question.username) }}">
                    <p>{{ question.username }}</p>
                </a>
            </div>
            
        </div>
    {% endfor %}

    <!-- Page Navigation -->
    <!-- Centered in div -->
    <div class="d-flex justify-content-center">
        {% if page > 1 %}
            <a href="{{ url_for('home') }}">
                <button class="btn btn-primary">home</button>
            <a href="{{ url_for('home', page=page-1) }}">
                <button class="btn btn-primary">&#10094;</button>
            </a>
        {% endif %}
        {% if next_page %}
            <a href="{{ url_for('home', page=page+1) }}">
                <button class="btn btn-primary">&#10095;</button>
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}
