{% extends 'base.html' %}
    
{% block content %}
<h1>New Question</h1>
<form method="post">
    <!-- CSRF token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="">
    <br>
    <label for="body">Content:</label>
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
    <br>
    <label for="topic">Topic:</label>
    <select name="topic" id="topic">
        <option value="Programming">Programming</option>
        <option value="Python">Python</option>
        <option value="Javascript">Javascript</option>
        <option value="SQL">SQL</option>
        <option value="Announcements">Announcements</option>
        <option value="General">General</option>
        <option value="Misc">Misc</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
