{% extends 'base.html' %}

{% block content %}
<div class="d-flex">
    <h1>{{user.username}}'s Profile</h1>
    {% if user.username == g.username %}
    <a href="{{ url_for('edit_profile') }}">
        <button class="btn btn-primary mx-3">Edit Profile</button>
    </a>
    {% endif %}
</div>

<div>
    <table class="table">
        <tr>
            <td>Username</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Date Joined</td>
            <td>{{user.dt_created}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{user.city}}, {{user.state}}, {{user.country}}</td>
        </tr>
        <tr>
            <td>About</td>
            <td>{{user.bio}}</td>
        </tr>
    </table>
</div>


<div class="py-2">
    <!-- Button to user questions -->
    <a href="{{ url_for('profile_questions', username=user.username) }}">
        <button class="btn btn-primary">Questions</button>
    </a>
    <!-- Navigate to submitted answers -->
    <a href="{{ url_for('profile_answers', username=user.username) }}">
        <button class="btn btn-primary">Answers</button>
    </a>
</div>
{% endblock %}
