{% extends 'base.html' %}

{% block content %}
<h1>Edit Profile: {{user.username}}</h1>
<a href="{{ url_for('logout') }}">Not you?</a>
<div>
    <!-- Edit account form -->
    <form class="card p-5" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" value="{{user.username}}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" value="{{user.email}}">
        </div>
        <div>
            <label for="old_password">Old Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Enter old password">
        </div>
        <div>
            <label for="password">New Password (leave blank to keep old password)</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm Password">
        </div>
        <div>
            <label for="city">Location</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter city" value="{{user.city}}">
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter state" value="{{user.state}}">
            <input type="text" class="form-control" id="country" name="country" placeholder="Enter country" value="{{user.country}}">
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" name="country" placeholder="Enter country" value="{{user.country}}">
        </div>
        <div>
            <label for="bio">Bio</label>
            <textarea class="form-control" id="bio" name="bio" rows="3" placeholder="Enter bio">{{user.bio}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Account">
    </form>
</div>
{% endblock %}
