{% extends 'base.html' %}

{% block content %}

<h1>Question</h1>
{% if question %}
<h2>{{ question.text }}</h2>
{{ question }}
{% else %}
<p>No question found.</p>
{% endif %}

<!-- Submit Answer Form -->
<form action="{{ url_for('submit_answer') }}" method="post">
    <label for="answer">Answer</label>
    <input type="text" id="answer" name='answer' placeholder="Answer">
    <input type="hidden" name="question_id" value="{{ question.qid }}">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% for answer in answers %}

    <h3>{{ answer }}</h3>

{% endfor %}

{% endblock %}
